# HAMOYE ASSESSMENT QUIZ-DOYINMOLA AJIBOYE

IMPORTING PANDAS AND NUMPY LIBRARIES

In [1]:
import pandas as pd
import numpy as np

LOAD AND READ FILE

In [2]:
data_set = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(data_set)

PREVIEW DATASET

In [3]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

## QUESTION 1

In [5]:
#In Python, the extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list. Here, all the elements of iterable are added to the end of list A .

## QUESTION 2

In [8]:
#identity matrix is created by running this code by running np.identity(), any number can be int the box depending on the type of matrix needed. Either 2*2, 3*3 etc matrix
#3*3 identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
#4*4 identity matrix
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## QUESTION 3

In [71]:
#Fuel type code by average fuel cost per unit burned
data_needed = fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']
data_needed.mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## QUESTION 4

In [39]:
#Standard deviation of fuel_mmbtu_per_unit
data = fuel_data['fuel_mmbtu_per_unit']
standard_dev = data.std()
print('the standard deviation of fuel_mmbtu_per_unit is: ' + str(standard_dev))

the standard deviation of fuel_mmbtu_per_unit is: 10.600220307806886

In [40]:
#Percentile of fuel_mmbtu_per_unit
percentile = np.percentile(data, 75)
print('the 75% quantile of fuel_mmbtu_per_unit is:' + str(percentile))

the 75% quantile of fuel_mmbtu_per_unit is:17.006

## QUESTION 5

In [36]:
#the skewness of fuel quantity burned
data_2 = fuel_data['fuel_qty_burned']
skewness = data_2.skew()
print('skewness of fuel quantity burned is: ' + str(skewness))

skewness of fuel quantity burned is: 15.851495469109503

In [38]:
#the kurtosis of the fuel quantity burned
kurtosis = data_2.kurt()
print('kurtosis of fuel quantity burned is: ' + str(kurtosis))

kurtosis of fuel quantity burned is: 651.3694501337732

## QUESTION 6

In [50]:
# using the isnull function to capture the null values and use the sum function to know the total number of the null values
null_values = fuel_data.isnull().sum()

#using the count function on the record id feature to determine the total number of rows
data_3 = fuel_data['record_id']
total_row = data_3.count()

#using the total row abovea and the null values to calculate the percentage of missing values to the total number of rows
percentage = (null_values/total_row) * 100
print(percentage)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

## QUESTION 7

In [51]:
"""A feature can either be describe as categorical or numerical, so base on the values of the feature with missing values,
it is obvious that it is categorical, and for this categorical data type, it is most suitable to replace/fill it 
with the mode of the data values.
So the answer is categorical and mode input
"""

'A feature can either be describe as categorical or numerical, so base on the values of the feature with missing values,\nit is obvious that it is categorical, and for this categorical data type, it is most suitable to replace/fill it \nwith the mode of the data values.\nSo the answer is categorical and mode input\n'

## QUESTION 8

In [57]:
# checking the correlation of other numerical features with regards to the fuel cost burned
correlation = fuel_data.corr().loc['fuel_cost_per_unit_burned']

# taking the absolute value because the numerical sign (+, -) is just to express the nature of the correlation and sorting it in ascending order
correlation.abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## QUESTION 9

In [67]:
#using groupby function to place emphasis on the fuel cost per unit burned and the fuel type, which will help in calculating the mean across the required years 

fuel_type_by_year = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])
yearly_cost = fuel_type_by_year['fuel_cost_per_unit_burned'].sum()

#using the loc label to locate and extract two particular years and the fuel type
year_1994, year_1998 = yearly_cost.loc[[1994, 1998], 'coal']

#finding the percentage change in the two years for the fuel type 'coal'
change_in_percentage= ((year_1998 - year_1994)/ year_1994) * 100

print(change_in_percentage)

-20.56765451826049

## QUESTION 10

In [68]:
# using groupby function to combine the year and the fuel cost delivered
year_by_fuel_cost = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered']

#taking the mean, to get the average cost delivered per year and then sorting the values in descending order
year_by_fuel_cost.mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64